
table{
	Width: 100%;
	padding: 10px;
}
.Amahle{
	background-color: #ddd;
}

.Junior{
	background-color: #f7c6e2;
}

th,td {
	padding: 10px;
}

#Zizi {
	color: #17a0c2; 
    font-size:30px;
}
#Miso{
	color: #bd0407;
	font-size:30px;
}
#Luvo{
	color:#f27107;
	font-size:30px;
}

 b{
	text-align:center;
	font-size: 40px;
}